body {
    background-image: url("http://kabegami.tank.jp/dog2/dog204/d.gif");
    /* background: linear-gradient(white, #0000ff, #33ccff,#0000ff,#33ccff, white); */
}

#logo {
    display: block;
    margin: auto;
}

/* #header {
    position: absolute;
} */

#random, #myBoards, #getApp {
    text-align: inline-block;
    position: relative;
    left: 40%;
    margin: 1%;
    border: none;
    background:none;
}


#random:hover, #myBoards:hover, #getApp:hover {
    border-style: groove;
}

.input {
    background-color: white;
    border: 1px solid grey;    
    width: 35%;
    height: 25%;
    display: block;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 35%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

/* div .input:hover {
    border: none;
    border-style: groove;
} */

.userContainer {
    border-bottom: 1px solid grey;
    padding: 2%;
    text-align: left;
}

.userImg {
    border-radius: 50%;
    width: 5%;
    height: 5%;
    border: 1px solid black;
    display: inline-block;
    margin: 0 2% 0 2%;  
}

.user {
    display: inline-block;
}

.thumbnail {
    width: 100%;
    height: auto;
    margin: 0;
}

.interact {
    text-align: left;
    margin: 2%;

}

.likeThat, .commentThat{
    height: 4%;
    width: 4%;
    margin: 0 2% 0 2%;  
}

.likeThat.show {
    display: block;
}

.commentHere {
    display: none;
}

.commentHere.show {
    display: block;
    width: 95%;
    border: none;
}

.insertTitle {
    padding: 2%;
    text-align: left;
}
/* div img {
    width: 100%;
    height: 100%;
} */






